<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Rashid Sultanov">
    <title>CinemaAll-home</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
</head>

<body>


<header>

    <h1 class="site-title title">
        <span>Cinema</span>
        <span class="red-title">All</span>
    </h1>

    <nav>
        <a href="#">Популярное </a>
        <a href="#">Топ 100 фильмов </a>
        <a href="#">Топ 100 сериалов </a>
        <a href="#">Обсуждаемое </a>
        <a href="#">Рецензии </a>
        <a href="#">Мои фильмы </a>
    </nav>
</header>

<main>
    <section class="news">
        <h2 class="news-title title"> Свежие новости из мира киноиндустрии</h2>
        <ul>
            <li> <p>
                В Лос-Анджелесе уже второй раз за год прошла церемония «Эмми». Из-за голливудских забастовок «Эмми-2023» переехала с сентября 2023 года на январь 2024-го, а нынешнее мероприятие прошло по плану. <br> Главным сериалом церемонии, безусловно, стал «Сёгун», забравший 18 наград из 25 номинаций (включая технические)</p></li>

            <li> <p>29 августа на Netflix вышли все серии «Терминатор Зеро» — первого аниме в фантастической франшизе,
                которая уже пережила несколько апокалипсисов. <br> Кинопоиск рассказывает, насколько успешно сценарист
                «Бэтмена» Маттсон Томлин и студия Production I. G перезагрузили серию без Арнольда Шварценеггера и Джона Коннора.
                <br> <a href="https://www.kinopoisk.ru/media/news/4009914/">Ccылка</a> на статью </p>
            </li>

        </ul>
    </section>
    <br>
    <hr class="hr-line">
    <section class="films">
        <h2 class="films-title">Топ-10 фильмов в российском прокате (на 12–15 сентября)</h2>
        <ul class="film-list">
            <li class="film-item"><img src="../images/luntik.jpg" alt="asdasd" height="368" width="250"></li>
            <li><img src="../images/killersgame_1.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/13.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/1920x.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/holop.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/lazy.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/legend.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/luv-evil.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/raven.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/two_two.jpg" alt="" height="368" width="250"></li>
        </ul>

        <ul class="grid-container">
            <ol> «Лунтик. Возвращение домой» — 57,7 млн рублей - Россия - 2024 - мультфильм</ol>
            <ol> «Игра киллера» — 23,8 млн рублей - Испания - 2024 - боевик</ol>
            <ol> «Любовь зла» — 19,9 млн рублей - Россия - 2024 - комедия</ol>
            <ol> «Дэдпул и Росомаха» — 15,6 млн рублей - США - 2024 - боевик</ol>
            <ol> «Холоп из Парижа» — 11,1 млн рублей - Россия - 2022 - комедия</ol>
            <ol> «Обе две» — 10,7 млн рублей - Россия - 2023 - комедия</ol>
            <ol> «Ворон» — 10,5 млн рублей - США - 2021 - фэнтези </ol>
            <ol> «Ленивая семейка» — 10,5 млн рублей - Австралия - 2023 - мультфильм</ol>
            <ol> «Пункт назначения: Поезд № 13» — 9,9 млн рублей - Индонезия - 2024 - ужасы</ol>
            <ol> «Легенда» — 7,1 млн рублей - Великобритания - 2015 - криминал</ol>

        </ul>


    </section>
    <br>
    <hr class="hr-line">
    <vr> </vr>

    <section class="films">
        <h2 class="films-title">Ваши предпочтения</h2>
        <ul class="film-list">
            <li><img src="../images/dexter1.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/wire.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/dexter.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/deathNote.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/sopranos.jpg" alt="" height="368" width="250"></li>
        </ul>

    </section>
    <br>
    <hr class="hr-line">

    <section class="films">
        <h2 class="films-title">Провести время с семьёй</h2>
        <ul class="film-list">
            <li><img src="../images/101.webp" alt="" height="368" width="250"></li>
            <li><img src="../images/poli.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/ded.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/dog.jpg" alt="" height="368" width="250"></li>
            <li><img src="../images/cheburnet.jpg" alt="" height="368" width="250"></li>
        </ul>
    </section>

    <section class="films">
        <h2 class="title"> Предстоящие новинки </h2>
        <pre>

            ⣞⢽⢪⢣⢣⢣⢫⡺⡵⣝⡮⣗⢷⢽⢽⢽⣮⡷⡽⣜⣜⢮⢺⣜⢷⢽⢝⡽⣝
            ⠸⡸⠜⠕⠕⠁⢁⢇⢏⢽⢺⣪⡳⡝⣎⣏⢯⢞⡿⣟⣷⣳⢯⡷⣽⢽⢯⣳⣫⠇
            ⠀⠀⢀⢀⢄⢬⢪⡪⡎⣆⡈⠚⠜⠕⠇⠗⠝⢕⢯⢫⣞⣯⣿⣻⡽⣏⢗⣗⠏⠀
            ⠀⠪⡪⡪⣪⢪⢺⢸⢢⢓⢆⢤⢀⠀⠀⠀⠀⠈⢊⢞⡾⣿⡯⣏⢮⠷⠁
            ⠀⠀⠀⠈⠊⠆⡃⠕⢕⢇⢇⢇⢇⢇⢏⢎⢎⢆⢄⠀⢑⣽⣿⢝⠲⠉
            ⠀⠀⠀⠀⠀⡿⠂⠠⠀⡇⢇⠕⢈⣀⠀⠁⠡⠣⡣⡫⣂⣿⠯⢪⠰⠂
            ⠀⠀⠀⠀⡦⡙⡂⢀⢤⢣⠣⡈⣾⡃⠠⠄⠀⡄⢱⣌⣶⢏⢊⠂
            ⠀⠀⠀⠀⢝⡲⣜⡮⡏⢎⢌⢂⠙⠢⠐⢀⢘⢵⣽⣿⡿⠁
            ⠀⠀⠀⠀⠨⣺⡺⡕⡕⡱⡑⡆⡕⡅⡕⡜⡼⢽⡻⠏
            ⠀⠀⠀⠀⣼⣳⣫⣾⣵⣗⡵⡱⡡⢣⢑⢕⢜⢕⡝⠀
            ⠀⠀⠀⣴⣿⣾⣿⣿⣿⡿⡽⡑⢌⠪⡢⡣⣣⡟
            ⠀⠀⠀⡟⡾⣿⢿⢿⢵⣽⣾⣼⣘⢸⢸⣞⡟
            ⠀⠀⠀⠀⠁⠇⠡⠩⡫⢿⣝⡻⡮⣒⢽⠋

          </pre>
    </section>
</main>

<footer class="main-footer">
    <div class="main-footer-container">
        <div class="top-footer">
            <p class="top-footer-description">Cinema<span class="red-title">All</span> – это лучшие фильмы, сериалы и мультфильмы по подписке. Смотри онлайн новинки кино,
                после регистрации на сайте телеканалы доступны к просмотру бесплатно. Только лицензионный контент с
                профессиональной озвучкой на сайте cinemaall.ru. Также мы применяем рекомендательные технологии</p>
        </div>

        <div class="top-footer">
            <ul class="again-list">
                <li><a href="#" style="text-decoration: underline red">Сервис </a></li>
                <br>
                <li><a href="#">Популярное </a></li>
                <li><a href="#">Топ 100 фильмов </a></li>
                <li><a href="#">Топ 100 сериалов </a></li>
                <li><a href="#">Обсуждаемое </a></li>
                <li><a href="#">Рецензии </a></li>
                <li><a href="#">Мои фильмы </a></li>
            </ul>
        </div>

        <div class="top-footer">
            <ul class="again-list">
                <li><a href="#" style="text-decoration: underline red">Информация </a></li>
                <br>
                <li><a href="#">Пользовательское соглашение </a></li>
                <li><a href="#">Политика конфиденциальности </a></li>
                <li><a href="#">Рекомендательные технологии  </a></li>
                <li><a href="#">Контакты </a></li>
            </ul>
        </div>
    </div>

    <hr style="width: 90%; collapse: gray">

    <h2 class="social-title"> Контакты для связи с автором сайта</h2>
    <ul class="social-list">
        <li class="social-item"><img src="../images/Group.svg" alt="WhatsUp" width="50px" height="50px"></li>
        <li class="social-item"><img src="../images/Group(1).svg" alt="Intsagram" width="50px" height="50px"></li>
        <li class="social-item"><img src="../images/Group(2).svg" alt="telegram" width="50px" height="50px"></li>
        <li class="social-item"><img src="../images/Group(3).svg" alt="Discord" width="50px" height="50px"></li>

    </ul>
</footer>

</body>
</html>
