<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Rashid Sultanov">
    <title>CinemaAll-home</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
</head>

<body>


<header>

    <h1 class="site-title title">
        <span>Cinema</span>
        <span class="red-title">All</span>
    </h1>

    <nav>
        <a href="#">Популярное </a>
        <a href="#">Топ 100 фильмов </a>
        <a href="#">Топ 100 сериалов </a>
        <a href="#">Обсуждаемое </a>
        <a href="#">Рецензии </a>
        <a href="#">Мои фильмы </a>
    </nav>
</header>

<main>
    <section class="news">
        <h2 class="news-title title"> Свежие новости из мира киноиндустрии</h2>
        <ul>
            <li> <p>
                В Лос-Анджелесе уже второй раз за год прошла церемония «Эмми». Из-за голливудских забастовок «Эмми-2023» переехала с сентября 2023 года на январь 2024-го, а нынешнее мероприятие прошло по плану. <br> Главным сериалом церемонии, безусловно, стал «Сёгун», забравший 18 наград из 25 номинаций (включая технические)</p></li>

            <li> <p>29 августа на Netflix вышли все серии «Терминатор Зеро» — первого аниме в фантастической франшизе,
                которая уже пережила несколько апокалипсисов. <br> Кинопоиск рассказывает, насколько успешно сценарист
                «Бэтмена» Маттсон Томлин и студия Production I. G перезагрузили серию без Арнольда Шварценеггера и Джона Коннора.
                <br> <a href="https://www.kinopoisk.ru/media/news/4009914/">Ccылка</a> на статью </p>
            </li>

        </ul>
    </section>
    <br>
    <hr class="hr-line">
    <section class="films">
        <h2 class="films-title">Топ-10 фильмов в российском прокате (на 12–15 сентября)</h2>
        <ul class="film-list">
            <li class="film-item"><img src="../images/luntik.jpg" alt="asdasd" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/killersgame_1.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/13.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/1920x.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/holop.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/lazy.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/legend.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/luv-evil.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/raven.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/two_two.jpg" alt="" height="368" width="250" class="film-poster"></li>
        </ul>


            <div class="grid-container">
                <div class="table-row">
                    <div class="table-header table-cell">Name</div>
                    <div class="table-header table-cell">Income</div>
                    <div class="table-header table-cell">Country</div>
                    <div class="table-header table-cell">Release date</div>
                    <div class="table-header table-cell">Genre</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Luntik: return to home</div>
                    <div class="table-cell">57,7 мln rubles</div>
                    <div class="table-cell">Russia</div>
                    <div class="table-cell">20 Aug 2024</div>
                    <div class="table-cell">Cartoon</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Game of killer</div>
                    <div class="table-cell">23,8 мln rubles</div>
                    <div class="table-cell">Spain, Usa</div>
                    <div class="table-cell">20 Jun 2021</div>
                    <div class="table-cell">Action</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Love of evil </div>
                    <div class="table-cell">19,9 мln rubles</div>
                    <div class="table-cell">Russia</div>
                    <div class="table-cell">14 Jan 2022</div>
                    <div class="table-cell">Comedy</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Deadpool: last dance</div>
                    <div class="table-cell">15,6 мln rubles</div>
                    <div class="table-cell">USA, Canada</div>
                    <div class="table-cell">20 Aug 2024</div>
                    <div class="table-cell">Action</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Holop from Paris</div>
                    <div class="table-cell">11,1 мln rubles</div>
                    <div class="table-cell">Russia</div>
                    <div class="table-cell">5 Dec 2019</div>
                    <div class="table-cell">Comedy</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Two-two</div>
                    <div class="table-cell">10,7 мln rubles</div>
                    <div class="table-cell">Russia</div>
                    <div class="table-cell">23 Mar 2023</div>
                    <div class="table-cell">Comedy</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Raven</div>
                    <div class="table-cell">10,5 мln rubles</div>
                    <div class="table-cell">USA, New Zealand</div>
                    <div class="table-cell">17 Feb 2023</div>
                    <div class="table-cell">Fantasy</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Lazy family</div>
                    <div class="table-cell">10,5 мln rubles</div>
                    <div class="table-cell">Australia </div>
                    <div class="table-cell">8 May 2024</div>
                    <div class="table-cell">Cartoon</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Train №13</div>
                    <div class="table-cell">9,9 мln rubles</div>
                    <div class="table-cell">Indonesia</div>
                    <div class="table-cell">23 Mar 2023</div>
                    <div class="table-cell">Horror</div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Legend</div>
                    <div class="table-cell">7,1 мln rubles</div>
                    <div class="table-cell">United Kingdom</div>
                    <div class="table-cell">23 Mar 2015</div>
                    <div class="table-cell">Criminal</div>
                </div>
            </div>



    </section>
    <br>
    <hr class="hr-line">
    <vr> </vr>

    <section class="films">
        <h2 class="films-title">Ваши предпочтения</h2>
        <ul class="film-list">
            <li><img src="../images/dexter1.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/wire.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/dexter.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/deathNote.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/sopranos.jpg" alt="" height="368" width="250" class="film-poster"></li>
        </ul>

    </section>
    <br>
    <hr class="hr-line">

    <section class="films">
        <h2 class="films-title">Провести время с семьёй</h2>
        <ul class="film-list">
            <li><img src="../images/101.webp" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/poli.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/ded.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/dog.jpg" alt="" height="368" width="250" class="film-poster"></li>
            <li><img src="../images/cheburnet.jpg" alt="" height="368" width="250" class="film-poster"></li>
        </ul>
    </section>

    <section class="films no-brain">
        <h2 class="title"> Предстоящие новинки </h2>
        <pre>

            ⣞⢽⢪⢣⢣⢣⢫⡺⡵⣝⡮⣗⢷⢽⢽⢽⣮⡷⡽⣜⣜⢮⢺⣜⢷⢽⢝⡽⣝
            ⠸⡸⠜⠕⠕⠁⢁⢇⢏⢽⢺⣪⡳⡝⣎⣏⢯⢞⡿⣟⣷⣳⢯⡷⣽⢽⢯⣳⣫⠇
            ⠀⠀⢀⢀⢄⢬⢪⡪⡎⣆⡈⠚⠜⠕⠇⠗⠝⢕⢯⢫⣞⣯⣿⣻⡽⣏⢗⣗⠏⠀
            ⠀⠪⡪⡪⣪⢪⢺⢸⢢⢓⢆⢤⢀⠀⠀⠀⠀⠈⢊⢞⡾⣿⡯⣏⢮⠷⠁
            ⠀⠀⠀⠈⠊⠆⡃⠕⢕⢇⢇⢇⢇⢇⢏⢎⢎⢆⢄⠀⢑⣽⣿⢝⠲⠉
            ⠀⠀⠀⠀⠀⡿⠂⠠⠀⡇⢇⠕⢈⣀⠀⠁⠡⠣⡣⡫⣂⣿⠯⢪⠰⠂
            ⠀⠀⠀⠀⡦⡙⡂⢀⢤⢣⠣⡈⣾⡃⠠⠄⠀⡄⢱⣌⣶⢏⢊⠂
            ⠀⠀⠀⠀⢝⡲⣜⡮⡏⢎⢌⢂⠙⠢⠐⢀⢘⢵⣽⣿⡿⠁
            ⠀⠀⠀⠀⠨⣺⡺⡕⡕⡱⡑⡆⡕⡅⡕⡜⡼⢽⡻⠏
            ⠀⠀⠀⠀⣼⣳⣫⣾⣵⣗⡵⡱⡡⢣⢑⢕⢜⢕⡝⠀
            ⠀⠀⠀⣴⣿⣾⣿⣿⣿⡿⡽⡑⢌⠪⡢⡣⣣⡟
            ⠀⠀⠀⡟⡾⣿⢿⢿⢵⣽⣾⣼⣘⢸⢸⣞⡟
            ⠀⠀⠀⠀⠁⠇⠡⠩⡫⢿⣝⡻⡮⣒⢽⠋

          </pre>
    </section>
</main>

<footer class="main-footer">
    <div class="main-footer-container">
        <div class="top-footer-description">
            <p>Cinema<span class="red-title">All</span> – это лучшие фильмы, сериалы и мультфильмы по подписке. Смотри онлайн новинки кино,
                после регистрации на сайте телеканалы доступны к просмотру бесплатно. Только лицензионный контент с
                профессиональной озвучкой на сайте cinemaall.ru. Также мы применяем рекомендательные технологии</p>
        </div>

        <div class="top-footer">
            <ul class="again-list">
                <li><a href="#" style="text-decoration: underline red">Сервис </a></li>
                <br>
                <li><a href="#">Популярное </a></li>
                <li><a href="#">Топ 100 фильмов </a></li>
                <li><a href="#">Топ 100 сериалов </a></li>
                <li><a href="#">Обсуждаемое </a></li>
                <li><a href="#">Рецензии </a></li>
                <li><a href="#">Мои фильмы </a></li>
            </ul>
        </div>

        <div class="top-footer">
            <ul class="again-list">
                <li><a href="#" style="text-decoration: underline red">Информация </a></li>
                <br>
                <li><a href="#">Пользовательское соглашение </a></li>
                <li><a href="#">Политика конфиденциальности </a></li>
                <li><a href="#">Рекомендательные технологии  </a></li>
                <li><a href="#">Контакты </a></li>
            </ul>
        </div>
    </div>

    <hr style="width: 90%; collapse: gray">

    <h2 class="social-title"> Контакты для связи с автором сайта</h2>
    <ul class="social-list">
        <li class="social-item"><img src="../images/Group.svg" alt="WhatsUp" width="50px" height="50px"></li>
        <li class="social-item"><img src="../images/Group(1).svg" alt="Intsagram" width="50px" height="50px"></li>
        <li class="social-item"><img src="../images/Group(2).svg" alt="telegram" width="50px" height="50px"></li>
        <li class="social-item"><img src="../images/Group(3).svg" alt="Discord" width="50px" height="50px"></li>

    </ul>
</footer>

</body>
</html>
